<header>
<!-- bootstrap nav -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">{{nav_title}}</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
		  {{#if loggedIn}}
			  {{#ifCond active '==' "home"}}
				  <li class="active"><a href="/">Home</a></li>
			  {{else}}
				  <li><a href="/">Home</a></li>
			  {{/ifCond}}
			  {{#ifCond active '==' "buildings"}}
				  <li class="active"><a href="/buildings">Buildings</a></li>
			  {{else}}
				  <li><a href="/buildings">Buildings</a></li>
			  {{/ifCond}}
			  {{#ifCond active '==' "locations"}}
				  <li class="active"><a href="/locations">Locations</a></li>
			  {{else}}
				  <li><a href="/locations">Locations</a></li>
			  {{/ifCond}}
			  {{#ifCond active '==' "tools"}}
				  <li class="active"><a href="/tools">Tools</a></li>
			  {{else}}
				  <li><a href="/tools">Tools</a></li>
			  {{/ifCond}}
			  {{#ifCond active '==' "contains"}}
				  <li class="active"><a href="/contiains">Contains</a></li>
			  {{else}}
				  <li><a href="/contains">Contains</a></li>
			  {{/ifCond}}
			  {{#ifCond active '==' "maintainers"}}
				  <li class="active"><a href="/maintainers">Maintainers</a></li>
			  {{else}}
				  <li><a href="/maintainers">Maintainers</a></li>
			  {{/ifCond}}
			  {{#ifCond active '==' "locations_and_tools"}}
				  <li class="active"><a href="/locations_and_tools">Locations and Tools</a></li>
			  {{else}}
				  <li><a href="/locations_and_tools">Locations and Tools</a></li>
			  {{/ifCond}}
			  {{#ifCond active '==' "buildings_and_locations"}}
				  <li class="active"><a href="/buildings_and_locations">Buildings and Locations</a></li>
			  {{else}}
				  <li><a href="/buildings_and_locations">Buildings and Locations</a></li>
			  {{/ifCond}}
			  {{#ifCond active '==' "logout"}}
				  <li class="active"><a href="/logout">Logout</a></li>
			  {{else}}
				  <li><a href="/logout">Logout</a></li>
			  {{/ifCond}}
		  {{else}}
			  {{#ifCond active '==' "home"}}
				  <li class="active"><a href="/">Home</a></li>
			  {{else}}
				  <li><a href="/">Home</a></li>
			  {{/ifCond}}
			  {{#ifCond active '==' "login"}}
				  <li class="active"><a href="/login">Login</a></li>
			  {{else}}
				  <li><a href="/login">Login</a></li>
			  {{/ifCond}}
			  {{#ifCond active '==' "register"}}
				  <li class="active"><a href="/register">Register</a></li>
			  {{else}}
				  <li><a href="/register">Register</a></li>
			  {{/ifCond}}
		  {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</header>
